/* 🔹 Configuración General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* 🔹 Modo Oscuro */
body {
  background: #121212; /* Negro-gris oscuro */
  color: #E0E0E0; /* Texto claro */
  min-height: 100vh;
  display: flexbox;
  align-items: center;
}

/* 🔹 Contenedor Principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
